/* styles.css */

body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #001f3f;
      /* Azul oscuro */
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
}

.App {
      max-width: 800px;
      width: 110%;
      margin: 0 auto;
      padding: 15px;
      background-color: #ffffff;
      /* Blanco */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;
      opacity: 0;
      transform: translateY(-20px);
      animation: fadeInUp 0.5s ease forwards;
}

header {
      background-color: #3498db;
      /* Azul */
      color: #ffffff;
      padding: 20px;
      border-radius: 10px 10px 0 0;
}

h1 {
      margin: 0;
      font-size: 36px;
      color: #ffffff;
      letter-spacing: 2px;
}

ul {
      list-style-type: none;
      padding: 0;
}

li {
      background-color: #ffffff;
      margin: 15px 0;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

li:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      background-color: #f9f9f9;
      /* Cambia el color al pasar el mouse */
}

button {
      background-color: #3498db;
      /* Azul */
      color: #ffffff;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
      background-color: #2980b9;
      /* Azul más oscuro */
      transform: scale(1.1);
}

input {
      margin: 8px;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color 0.3s ease;
}

input:focus {
      border-color: #3498db;
      /* Cambia el color del borde al enfocar */
}

button {
      background-color: #3498db;
      /* Azul */
      color: #ffffff;
      border: none;
      padding: 8px 12px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
      background-color: #2980b9;
      /* Azul más oscuro */
      transform: scale(1.1);
}

/* Nuevo estilo para el botón de descripción */
.show-description-button {
      background-color: #27ae60;
      /* Verde */
      color: #ffffff;
      border: none;
      padding: 8px 12px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      margin-top: 8px;
      /* Ajusta el espacio entre el título y el botón */
      transition: background-color 0.3s ease, transform 0.3s ease;
}

.show-description-button:hover {
      background-color: #219653;
      /* Verde más oscuro */
      transform: scale(1.1);
}

/* Animación de entrada */
@keyframes fadeInUp {
      to {
            opacity: 1;
            transform: translateY(0);
      }
}