body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #e0e5ec;
      /* Azul claro */
      color: #333;
      /* Color de texto oscuro */
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
}

.App {
      max-width: 1200px;
      width: 120%;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f5fc;
      /* Azul más claro */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;
}

header {
      background-color: #3498db;
      /* Azul */
      color: #ffffff;
      padding: 20px;
      border-radius: 10px 10px 0 0;
}

h1 {
      margin: 0;
      font-size: 36px;
      color: #ffffff;
      letter-spacing: 2px;
}

ul {
      list-style-type: none;
      padding: 0;
}

li {
      background-color: #ffffff;
      margin: 15px 0;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
      background-color: #3498db;
      /* Azul */
      color: #ffffff;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
      background-color: #2980b9;
      /* Azul más oscuro */
      transform: scale(1.1);
}